VITE_PEERSEND_LOCAL_ORIGIN=http://127.0.0.1:8765
VITE_PEERSEND_PROTOCOL=peersend://launch
VITE_PEERSEND_WINDOWS_DOWNLOAD_URL=https://send.peersend.kro.kr/downloads/PeerSend-Setup.exe
VITE_PEERSEND_MACOS_DOWNLOAD_URL=https://send.peersend.kro.kr/downloads/PeerSend.dmg
VITE_PEERSEND_LINUX_DOWNLOAD_URL=https://send.peersend.kro.kr/downloads/PeerSend.AppImage
VITE_PEERSEND_ANDROID_DOWNLOAD_URL=https://play.google.com/store/apps/details?id=com.rhkr8521.p2ptransfer
VITE_PEERSEND_IOS_DOWNLOAD_URL=https://apps.apple.com/app/id0000000000
